::placeholder {
  color: #000000 !important;
}
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 25px;
}

h1 {
  text-align: center;
  font-size: 1.8rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}

h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-bottom: 20px;
}

.image-container input[type="text"] {
  width: 100%;
  padding: 10px;
}

.form-group {
  margin-bottom: 20px;
}
.web-logo {
  width: 155px;
  height: 50px;
  border-radius: 50%;
  background-color: #000000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
}
.zone {
  color: red;
}
label {
  display: block;
  margin-bottom: 5px;
  text-align: start !important;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  color: black;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #2874f0;

  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  transform: scale(1.01) translateY(-3px);
  background-color: #1c5fd3;
}
