#body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login-container {
  width: 450px;
  height: 500px;
  padding: 40px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 3px 1px,
    rgba(0, 0, 0, 0.06) 1px 1px 2px 1px;
  margin-top: 20px;
}
.signin-container {
  width: 450px;
  height: 100%;
  padding: 40px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 3px 1px,
    rgba(0, 0, 0, 0.06) 1px 1px 2px 1px;
  margin-top: 20px;
}
.login-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
  color: #333;
}

.login-form {
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
  border-radius: 4px;
  font-size: 16px;
}
::placeholder {
  color: #000000 !important;
}
.form-group input[type="submit"] {
  background-color: #2874f0;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 12px;
  font-size: 18px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.form-group input[type="submit"]:hover {
  transform: scale(1.01) translateY(-3px);
  background-color: #1c4891;
}

.register-link {
  text-align: center;
  font-size: 16px;
  color: #777;
}

.register-link a {
  color: #fb641b;
  text-decoration: none;
}
