.product-details {
  max-width: 80%;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.product-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.product-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.product-images img {
  width: 22%;
  /* height: 80px; */
  object-fit: cover;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-price {
  font-size: 18px;
  color: #e71f23;
  margin-bottom: 10px;
}

.product-description {
  margin-bottom: 20px;
}

.product-rating {
  margin-bottom: 20px;
}

.product-features {
  margin-bottom: 20px;
}

.feature-list {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
}

.product-details-section {
  margin-bottom: 20px;
}

.product-details-section h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.product-details-section p {
  line-height: 1.4;
  margin-bottom: 10px;
}

.add-to-cart {
  background-color: #2874f0;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.add-to-cart:hover {
  transform: scale(1.01) translateY(-3px);
  background-color: #1c4891;
}

@media (max-width: 600px) {
  .product-details {
    padding: 10px;
  }

  .product-header {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  .product-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .product-images {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .product-images img {
    width: 60px;
    height: 60px;
    margin: 0 3px;
  }
}
