#maincontainer {
  width: 85%;
  margin: 10px auto;
  /* border: 2px solid rgb(222, 222, 222); */
}

/* card-csss */
.flipkart-card {
  width: 100%;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 16px;
  /* margin: 16px; */
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 16px;
}

.product-title {
  font-size: 18px;
  font-weight: bold;
  color: #212121;
  margin-bottom: 8px;
}

.product-price {
  font-size: 16px;
  color: #e71f23;
  margin-bottom: 8px;
}

#productscards {
  /* width: "22%"; */
  margin: "50px auto";
}
#pdoducts {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr) !important;
  gap: 10px;
}
.product-rating {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.star {
  color: #ffb900;
  margin-right: 4px;
}

.product-description {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
}

.add-to-cart {
  background-color: #2874f0;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.add-to-cart:hover {
  transform: scale(1.01) translateY(-3px);
  background-color: #1c4891;
}

#img_ban {
  width: 90%;
  margin: 10px auto;
  height: 70vh;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  padding: 5px;
  border-radius: 15px;
  overflow: hidden;
}
#img_ban img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
#searchingcon {
  display: flex;
  width: 90%;
  margin: 10px auto;
  justify-content: end;
  opacity: 0.6;
}
.searstext {
  font-size: 1.2rem;
}

/* pagination butto */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-btn {
  padding: 8px 12px;
  margin: 0 5px;
  background-color: #eaeaea;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.page-btn:hover {
  background-color: #ccc;
}

.page-btn.active {
  background-color: #333;
  color: #fff;
}

#functionalaties {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
/* filtring  */

#filt_con {
  width: 50%;
}
#sort_con {
  width: 50%;
}
#filtering {
  width: 30%;
}
#sort_con {
  display: flex;
  justify-content: space-around;
}
.sbutton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #eaeaea;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sbutton:hover {
  background-color: #ccc;
}
.custom-text {
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: #4caf50;
  color: #ffffff;
  border: 1px solid white;
  padding: 2px 8px;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

/* ---------- */
@media screen and (max-width: 450px) and (min-width: 100px) {
  #pdoducts {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr) !important;
  }
  #img_ban {
    height: 100%;
  }
  #img_ban img {
    width: 100%;
    height: 100%;
  }
  #sort_con {
    display: flex;
    flex-direction: column;
  }
  #sort_con button {
    font-size: 0.6rem;
    margin-top: 2px;
  }
  .notfoundimg {
    display: flex;
    flex-direction: column;
  }
  /* filtring  */
  #filtering {
    width: 90%;
  }
}
